.category-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
    li {
        margin-bottom: .5rem;
        a{
            padding: .5rem;
            text-decoration: none;
            color: #fff;
            border: solid;
            border-radius: .3rem;
            
            &:hover{
                color: #000;
                background-color: #fff;
            }
        }
    }
}