@import 'layout'; // import of partial _layout.scss - no need to have "_" underscore before partial name
@import 'designelements';
@import 'postpage';
$bgColor:  #242424;

body{
    background-color: $bgColor;
    .characters-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        
        article{
            background-color: #5f5f5f;
            color: #fff;
            border-radius: .5rem;
            img{
                border-radius: .5rem 0 0 0;
            }
            .status-box{
                height: 300px;
                width: 10px;
                display: inline-block;
                
                
            }
            .Alive {
                background-color: green;
            }
            .Dead{
                background-color: rgb(188, 0, 0);
            }
        }
    }
}
